[defaults]
inventory           = inventory.ini
remote_user         = ec2-user
private_key_file    = ~/.ssh/k8s.pem   
host_key_checking   = False
retry_files_enabled = False
stdout_callback     = yaml
interpreter_python  = auto_silent

[ssh_connection]
pipelining          = True
ssh_args            = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
